name: Documentation

on:
  push:
    branches:
      - main
      - v0.*.x
    tags:
      - v*
  pull_request:
  workflow_dispatch:

jobs:
  documentation:
    name: Doc Build - py${{ matrix.python }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        python: ['3.10', '3.12']
        os: [ubuntu-latest]

    steps:
    - name: Checkout code
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python }}
    - name: Install dependencies
      run: |
        python -m pip install --progress-bar off --upgrade pip
        python -m pip install --progress-bar off -r requirements/docs.txt git+https://github.com/PlasmaPy/plasmapy
        sudo apt-get install graphviz pandoc
    - name: Build Docs
      run: |
        sphinx-build ./docs ./docs/_build -n --keep-going -W -b html -q

  pip-install:
    name: Installation with pip
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.12
    - name: Install plasmapy_sphinx with pip
      run: pip install .
